@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
}
#blueButton{
    color: white;
    background-color: #38438b;
}

#greenButton{
  color: white;
  background-color: #188a45;
}

/* ----------------------- Check In Page CSS ------------------------------- */
.checkin-header {
  color: #38458b !important;
}

#checkin-health-header {
  text-align: center;
}

#checkin-card {
  width: unset;
}

#checkin-buttons-container {
  text-align: center;
  padding-bottom: 2rem;
}

#edit-button {
  padding: 0rem 1rem 0rem;
  background: none;
  color: black;
}

.checkin-answer {
  padding: 1rem 5rem 1rem !important;
  border-radius: 5rem !important;
}

#checkin-answer-yes {
  margin-right: 4rem;
  margin-left: auto;
}

#checkin-answer-no {
  margin-right: auto;
  margin-left: 4rem;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #checkin-answer-yes {
    margin: auto;
  }

  #checkin-answer-no {
    margin: 1rem auto auto;
  }
}

h1 {
    font-weight: 700pt;
}

#signin-form-submit, #signup-form-submit, #signin-form-submit:hover, #signup-form-submit:hover {
 background-color: #38478a;
 color: #fff;
 border-radius: 30px;
}